:root{
    --maincolor: #FFD782;
    --secondaryColor: #fcb56f;
    --otherColor: #fa8383;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 62.5%;
    background-color: #faf2e1;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.4rem;
}
p{
    font-size: 1.8rem;
}
header .barnav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:16px;
}
header .barnav1 img{
    padding: 0.5rem;
    margin-left: 8rem;
    width: 8rem;
    height: 8rem;
}
header .barnav1 ul{
    width: 40rem;
    margin-right: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
    font-size: 1.3rem;
    
}
header .barnav1 ul li a{
    text-decoration: none;
    color: #000;
}
header .barnav1 ul li i{
    margin: 0.5rem;
}
header nav.barnav2 ul{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 3.8rem;
    font-size: 1.6rem;
    background-color: var(--secondaryColor);
    z-index: 200;
}

header .barnav2 ul li{
    list-style: none;
    padding: 1rem;
}
header .barnav2 ul li  a{
    text-decoration: none;
    padding: 1rem;
    color: #fff;
}
.header_img{
    text-align: center;
    height: 50rem;
}
.header_img img {
    height: 55rem;
}
.cards__contain{
    height: 23rem;
    display: flex;
    margin: 1rem;
    margin-bottom: 7rem;
    text-align: center;
    justify-content: center;
}
.card{
    width: 35%;
    margin: 0.3rem;
    background-color: #e7e5e5;
    font-size: 5rem;
}
.card i{
    color: var(--secondaryColor);
    
}
.info__contain{
    height: 73rem;
    text-align: center;
    background-color: var(--maincolor);
}

.info__container{
    padding:20px 0px; 
}
.blocks{
    display: flex;
    justify-content: space-evenly;
}
.block__info{
    width: 47%;
    gap: 0.3rem;
    background-color: var(--otherColor);
    border-radius: 0.6rem;
    -webkit-box-shadow: 0px 4px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px -3px rgba(0,0,0,0.75);
}
.block__info img{
    width: 60%;
}
.contactar{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 15rem;
}
.contactar img{
    width: 65%;
}
.contactar__contain a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3rem;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--secondaryColor);
    color: #fff;
    font-weight: bold;
}

.contactar__contain span{
    font-weight: bolder;
    color: #0e0e0e;
}
.contactar__contain a:hover{
    background-color: var(--otherColor);
}
footer{
    text-align: center;
}

.contact_form{  
    width: 460px; 
    height: auto;
    margin: 6px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #faf2df; 
    padding-left: 30px; 
  }
  
  
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
  
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    
    margin-bottom: 20px; 
    margin-top: 20px;   
    text-transform: uppercase;
    background-color: #fca249; 
    border-color: #FFAF61; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  
  button p{
    color: #fff; 
  }
  
  
  span{
    color: #dd99cd; 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }

  #enviar{
      color: #fff;
      font-size: 20px;
      font-weight: bold;

  }

  .formulario h1{
      text-align: center;
  }

  #enviar:hover{
      background-color:#ff8d1b ;
  }

  /*PARTE DE FUNCIONAMIENTO XD*/
.blocksFunc{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.block1 {
    align-items: center;
    justify-content: center;
    background-color: #faf2df;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}

.block1 p{
    font-size: 20px;
}

.block2 {
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
    background-color: var(--otherColor);
    text-align: center;
    padding-bottom: 1.2rem;
}

.h2Block2 {
    padding: 0.5rem;
    font-size: 15px;
}

.containerBlock2 {
    display: flex;
    
}



.imgyTexto {
    margin-inline: 8rem;
}

.block3 {
    margin-top: 5rem;
    align-items: center;
    align-content: center;
    display: flex;
    margin-left: 15em;
    margin-right: 15rem;
    margin-bottom: 3rem;
}

.block3 h2, p{
    margin-left: 2rem;
}

.block4 {
    margin-top: 5rem;
    align-items: center;
    align-content: center;
    margin-left: 15em;
    margin-right: 15rem;
    margin-bottom: 3rem;
}

.titleBlock4 {
    text-align: center;
    font-size: 35px;
}

.containerBlock4 {
    align-items: center;
    align-content: center;
    display: flex;
}

.containerBlock4 img{
    margin-left: 5rem;
    margin-right: 2rem;
}

.block4Left {
    margin-right: 5rem;
    margin-left: 9rem;
}

.block4Right {
    text-align: right;
}

.contactar__contain p{
    margin-left: 0;
    padding-bottom: 15px;
}